.MPForm {
  input,
  select {
    width: 100%;
  }

  p {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
  }

  label {
    display: block;
    text-align: left;
    margin-top: 0.25em;
  }
}
