.MPForm {
  input, select {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .3rem .75rem;
    &:focus {
      outline: none;
    }
  }

  label {
    font-style: oblique;
    display: block;
    text-align: left;
    font-size: 14px;
  }

  h3 {
    margin: 1rem 0;
    text-transform: uppercase;
  }
}